# Chapter 2. Python Crash Course

---

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### Whitespace Formatting

In [2]:
for i in [1, 2, 3, 4, 5]:
    print(i, end="\t")
    for j in [1, 2, 3, 4, 5]:
        print(j, end="\t")
        print(i+j, end="\t")
print("done looping")

1	1	2	2	3	3	4	4	5	5	6	2	1	3	2	4	3	5	4	6	5	7	3	1	4	2	5	3	6	4	7	5	8	4	1	5	2	6	3	7	4	8	5	9	5	1	6	2	7	3	8	4	9	5	10	done looping

In [3]:
long_winded_computation = (1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9
                          + 10 + 11 + 12 + 13,)

### Making code easier to read

In [4]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [5]:
list_of_lists_better = [[1, 2, 3],
                        [4, 5, 6],
                        [7, 8, 9]]

### Modules

In [6]:
import re
my_regex = re.compile("[0-9]+", re.I)

In [7]:
import re as regex     # alias

In [8]:
import matplotlib.pyplot as plt    # alias

In [9]:
from collections import defaultdict, Counter

In [10]:
lookup = defaultdict(int)
my_counter = Counter()

In [11]:
Counter([1, 2, 3, 4, 4, 3, 5])

Counter({1: 1, 2: 1, 3: 2, 4: 2, 5: 1})

### Bad Use of *

In [12]:
match = 10
from re import *  # re also has match 
print(match)

<function match at 0x0000014D6DA70820>

In [13]:
import re

match = 10
print(match)

10

### Arithmetic

In [14]:
5/2    # division

2.5

In [15]:
5//2   # integer division

2

In [16]:
5%2    # remainder division

1

### Functions

In [17]:
def double(x):
    """this is where you put an optional docstring
    that explains what the function does.
    for example, this function multiplies its input by 2
    """
    return x*2

In [18]:
help(double)

Help on function double in module __main__:

double(x)
    this is where you put an optional docstring
    that explains what the function does.
    for example, this function multiplies its input by 2

In [19]:
another_double = lambda x: x**2

variable = 3
print(another_double(variable))

9

In [20]:
def my_print(message="my default message"):
    print(message)

In [21]:
my_print("hello")
my_print()

hello
my default message

In [22]:
def subtract(a=0, b=0):
    return a-b

In [23]:
print(subtract(10,5))
print(subtract(0,5))
print(subtract(5))
print(subtract(b=5))

5
-5
5
-5

### Strings

In [24]:
single_quote_string = 'data science'
double_quotez_string = "data science"

In [25]:
not_tab_string = r"\t"
not_tab_string

'\\t'

In [26]:
len(not_tab_string)

2

### Exceptions

In [27]:
print(0/0)

ZeroDivisionError: division by zero

In [ ]:
try:
    print(0/0)
except ZeroDivisionError:
    print(f"can not divide by zero, {ZeroDivisionError}")
    
finally:
    print("in each cases run")

### Lists

In [ ]:
integer_list = [1, 2, 3, 4, 5]
heterogeneous_list = ["string", 0.1, True]
list_of_lists = [integer_list, heterogeneous_list, []]

In [ ]:
list_length = len(integer_list)
list_sum = sum(integer_list)
print(f"length of integer_list is: {list_length}, sum of\
list is: {list_sum}")

In [ ]:
x = list(range(8))
x

In [ ]:
zero = x[0]
one = x[1]
five = x[5]
last = x[-1]

In [ ]:
x[0] = -1  # now x[0] is -1, lists are mutable

In [ ]:
first_two = x[0:2]
last_three = x[-3:]
last_three

In [ ]:
even_index = x[0::2]

In [ ]:
even_index

In [ ]:
odd_index = x[1::2]

In [ ]:
odd_index

In [ ]:
-1 in [-1, 2, 3]

In [ ]:
-1 in [1, 3, 5]

In [ ]:
x = [1, 2, 3]

In [ ]:
copy_x = x[:]

In [ ]:
reference_x = x

In [ ]:
reference_x[0] = 30

In [ ]:
x[0]

In [ ]:
copy_x

In [ ]:
copy_x[0] = 20

In [ ]:
copy_x

In [ ]:
x

In [ ]:
p = [9, 8, 7, 6]

In [ ]:
p.extend([4, 5, 6, 7])

In [ ]:
p

In [ ]:
k = [4, 5, 6, 2]
l = k + [3, 9]

In [ ]:
l

In [ ]:
k

In [ ]:
# list unpacking
x, y = [45, 54]
print(f"x is: {x}, y is: {y}")

In [ ]:
_, u = [34, 14]
u
_

### Tuples

In [ ]:
my_list = [1, 2]
my_tuple = (1, 2)
my_tuple = 1, 2
my_list[1] = 3

In [ ]:
my_tuple[0] = 2

In [ ]:
print(my_tuple[0])

In [ ]:
try:
    my_tuple[0] = 1
except TypeError:
    print("can not modify a tuple")

In [ ]:
# Tuples are a convenient way to return multiple values from functions

In [ ]:
def sum_and_product(x: float, y:float) -> float:
    return x+y, x*y

In [ ]:
(s, p) = sum_and_product(9,8)
print(f"sum is: {s}, and product is: {p}")

In [ ]:
type(sum_and_product(10,4))

In [ ]:
# swap variables
x, y = 4, 10
x, y = y, x

In [ ]:
print(f"now x is: {x}, y is: {y}")

### Dictionary

In [ ]:
empty_dict = {}
type(empty_dict)

In [ ]:
grades = {"Joel": 88, "Tim": 95}

In [ ]:
grades["Joel"]

In [ ]:
try:
    print(grades[0])
except KeyError:
    print("There is no such key in the dictionary")

In [ ]:
list(grades.keys())

In [ ]:
list(grades.values())

In [ ]:
grades.pop("Joel")

In [ ]:
grades

In [ ]:
if "zahed" in grades:
    print(grades["zahed"])
else:
    print("zahed doesn't exist in grades")

In [ ]:
# default values
print(grades.get("Joel", "doesn't exist"))

In [ ]:
# default values
print(grades.get("Joel", 0))

In [ ]:
print(grades.get("Tim", 0))

In [ ]:
print(grades.get("zahed"))

In [ ]:
if grades.get("zahed")==None:
    print("No key")

In [ ]:
# list of tuples
grades.items()

In [ ]:
grades.setdefault("zahed", 200)

In [ ]:
grades.get("zahed")

In [ ]:
# list of keys
grades_keys = grades.keys()

# list of values
grades_values = grades.values()

In [ ]:
# dictionary keys must be immutable

In [ ]:
document = "Hello you the this is a test that you counts the number of\
number hello count"

word_counts = {}
for word in document.lower().split(" "):
    if word in word_counts:
        word_counts[word] +=1
    else:
        word_counts[word] = 1

In [ ]:
word_counts

In [ ]:
# defaultdict
from collections import defaultdict

word_counts = defaultdict(int)
for word in document.lower().split(" "):
    word_counts[word] +=1

In [ ]:
word_counts

In [ ]:
dd_list = defaultdict(list)
dd_list[2].append(3)

In [ ]:
dd_list

In [ ]:
dd_list

In [ ]:
dd_dict = defaultdict(dict)
dd_dict["Joel"]["city"] = "Seatle"

In [ ]:
dd_dict

In [ ]:
# Counter
from collections import Counter

c = Counter([0, 1, 2, 0])

In [ ]:
c

In [ ]:
c[0]

In [ ]:
word_counts_with_counter = Counter(document.lower().split(" "))

In [ ]:
word_counts_with_counter

In [ ]:
# most_common method of Counter instance
for word, count in word_counts_with_counter.most_common(15):
    print(word, count)

### Sets

In [ ]:
# set is a collection of distinct elements
s = set()
s.add(1)
s.add(3)
s.add(3)
s.add(2)

In [ ]:
s

In [ ]:
len(s)

In [ ]:
y = 2 in s

In [ ]:
y

In [ ]:
# set is very fast for in operation
item_list = [1, 2, 3, 1, 2, 3]
num_items = len(item_list)
print("number of items are: ", num_items)

item_set = set(item_list)
num_distinct_items = len(item_set)
print("number of distinct items: ", num_distinct_items)
distinct_item_list = list(item_set)

### Control Flow

In [ ]:
if 1 > 2:
    message = "if only 1 were greater than two"
elif 1 > 3:
    message = "elif stands for else if"
else:
    message = "when all else fails use else (if you want to)"

In [ ]:
x = 4
parity = "even" if x % 2 == 0 else "odd"

In [ ]:
parity

In [ ]:
x = 0
while x < 10:
    print(x, " is less than 10")
    x +=1

In [ ]:
for x in range(10):
    print(x, " is less than 10")

In [ ]:
for x in range(10):
    if x == 3:
        continue
    if x == 5:
        break
    print("x is: ", x)

### Truthiness

In [ ]:
one_is_less_than_two = 1 < 2 # equals True

In [ ]:
one_is_less_than_two

In [ ]:
x = None
print(x==None)
print(x is None)

In [ ]:
y = ""
if not y :
    print("helaeafl")

In [ ]:
x = -10
safe_x = x or 0

In [ ]:
print(safe_x)

In [ ]:
all([True, 1, {3}])

In [ ]:
all([True, 3, {}])

In [ ]:
any([True, 1, {}])

In [ ]:
all([])

In [ ]:
any([])

## The Not-So-Basics

### Sorting

In [ ]:
x = [4, 3, 1, 2]
# sort in place
x.sort()

In [ ]:
x

In [ ]:
# reverse in place
x.reverse()

In [ ]:
x

In [ ]:
y = [4, 2, 1, 3]
# not in place
z = sorted(y, reverse=False)

In [ ]:
z

In [ ]:
z = sorted(y, reverse=True)
z

In [ ]:
# sort the list by absolute value from largest to smallest
x = sorted([-4, 1, -2, 3], key=abs, reverse=True)
x

### List Comprehensions

In [ ]:
even_numbers = [x for x in range(10) if x % 2 == 0]
even_numbers

In [ ]:
squares = [x*x for x in range(5)]
squares

In [ ]:
even_squares = [x*x for x in even_numbers]
even_squares

In [ ]:
square_dict = {x:x*x for x in range(5)}
square_dict

In [ ]:
square_set = {x*x for x in [1, -1]}
square_set

In [ ]:
zeros = [0 for _ in range(10)]
zeros

In [ ]:
pairs = [(x, y)
        for x in range(2)
        for y in range(2)]

In [ ]:
pairs

### Generators and Iterators

In [ ]:
def lazy_range(n):
    """ a lazy version of range"""
    i = 0
    while i < n:
        yield i
        i += 1

In [ ]:
for i in lazy_range(20):
    print(i, end="\t")

In [ ]:
def natural_numbers():
    """returns 1, 2, 3, ..."""
    n = 1
    while True:
        yield n
        n +=1

In [ ]:
for i in natural_numbers():
    print(i)
    if i == 10:
        break

In [ ]:
lazy_evens_below_20  =(i for i in lazy_range(20) if i%2 ==0)

In [ ]:
lazy_evens_below_20

In [ ]:
for i in lazy_evens_below_20:
    print(i)

In [ ]:
a = iter([1,2,3,4,5])

In [ ]:
next(a)

In [ ]:
b = {"a":20,
    "b":30,
    "c":40}

### Randomness

In [ ]:
import random

In [ ]:
four_uniform_randoms = [random.random() for _ in range(4)]

In [ ]:
four_uniform_randoms

In [ ]:
random.seed(10)
print(random.random())

In [ ]:
random.random()

In [ ]:
random.seed(10)
random.random()

In [ ]:
up_to_ten = list(range(10))
random.shuffle(up_to_ten)
up_to_ten

In [ ]:
my_best_friend = random.choice(["Alice", "Bob", "Charlie"])

In [ ]:
my_best_friend

In [ ]:
lottery_numbers = list(range(100))

In [ ]:
# without replacement
winning_numbers = random.sample(lottery_numbers, 6)

In [ ]:
winning_numbers

In [ ]:
# with replacement
four_with_replacement = [random.choice(list(range(10)))
                        for _ in range(4)]

In [ ]:
four_with_replacement

### Regular Expressions

In [ ]:
import re

In [ ]:
print(not re.match("a", "cat"))

In [ ]:
print(re.search("a", "cat"))

In [ ]:
"R-D-" == re.sub("[0-9]", "", "R2D2")

In [ ]:
"R-D-" == re.sub("[0-9]", "-", "R2D2")

### Object-Oriented Programming

In [28]:
class Set:
    
    # these are the member functions
    # every one takes a first parameter "self"
    
    def __init__(self, values=None):
        """This is the constructor.
        It gets called when you create a new set.
        You would use it like:
        s1 = Set()  # empty set
        s2 = Set([1,2,3,4,5]) initialize with values
        s3 = Set(values=[1,2,3])"""
        
        self.dict = {}
        
        if values is not None:
            for value in values:
                self.add(value)
    
    def add(self, value):
        self.dict[value] = True
    
    def contains(self, value):
        return value in self.dict
    
    def remove(self, value):
        del self.dict[value]
        
    def __repr__(self):
        return "Set: " + str(self.dict.keys())

In [29]:
s = Set([1,2,3,4,5])

In [30]:
s.add(4)

In [32]:
print(s.contains(4))

True

In [33]:
s.remove(3)

In [34]:
s

Set: dict_keys([1, 2, 4, 5])

In [35]:
print(s.contains(3))

False

### Functional Tools

In [36]:
def exp(base, power):
    return base ** power

In [37]:
def two_to_the(power):
    return exp(2, power)

In [38]:
# A different approach is to use functools.partial
from functools import partial
two_to_the = partial(exp, 2)
print(two_to_the(3))

8

In [39]:
# map, filter, reduce
def double(x):
    return x * 2

In [40]:
xs = [1, 2, 3, 4, 5]

In [41]:
twice_xs = [double(x) for x in xs]

In [42]:
twice_xs

[2, 4, 6, 8, 10]

In [46]:
twice_xs_map = list(map(double, xs))

In [47]:
twice_xs_map

[2, 4, 6, 8, 10]

In [48]:
def multiply(x, y):
    return x * y

In [52]:
products = list(map(multiply, [1,2], [4,5]))

In [53]:
products

[4, 10]

In [60]:
def is_even(x):
    return x % 2 == 0

In [61]:
x_evens = [x for x in xs if is_even(x)]

In [62]:
x_evens

[2, 4]

In [63]:
x_even_filter = list(filter(is_even, xs))

In [64]:
x_even_filter

[2, 4]

### enumerate

In [75]:
# enumerate produces tuples (index, element)
my_list = [1,2,3,4,5,6,7]

In [76]:
for index, element in enumerate(my_list):
    print(f"index is: {index}, element is: {element}")

index is: 0, element is: 1
index is: 1, element is: 2
index is: 2, element is: 3
index is: 3, element is: 4
index is: 4, element is: 5
index is: 5, element is: 6
index is: 6, element is: 7

In [81]:
# if we just want the index
for index, _ in enumerate(my_list):
    print(index)

0
1
2
3
4
5
6

### zip and Argument Unpacking

In [89]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3, 4, 5]

In [90]:
a = list(zip(list1, list2))

In [91]:
a

[('a', 1), ('b', 2), ('c', 3)]

In [92]:
pairs = [("a", 1), ("b", 2), ("c", 3)]

In [95]:
letters, numbers = zip(*pairs)

In [96]:
letters

('a', 'b', 'c')

In [97]:
numbers

(1, 2, 3)

In [101]:
list(zip(("a",1), ("b",2), ("c",3)))

[('a', 'b', 'c'), (1, 2, 3)]

### args and kwargs

In [102]:
def magic(*args, **kwargs):
    print("unnamed args: ", args)
    print("keyword args: ", kwargs)

In [103]:
magic()

unnamed args:  ()
keyword args:  {}

In [104]:
magic(1, 2, key="word", key2="word2")

unnamed args:  (1, 2)
keyword args:  {'key': 'word', 'key2': 'word2'}

# Well Done!