# Chapter 2. Python Crash Course

---

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### Whitespace Formatting

In [2]:
for i in [1, 2, 3, 4, 5]:
    print(i, end="\t")
    for j in [1, 2, 3, 4, 5]:
        print(j, end="\t")
        print(i+j, end="\t")
print("done looping")

1	1	2	2	3	3	4	4	5	5	6	2	1	3	2	4	3	5	4	6	5	7	3	1	4	2	5	3	6	4	7	5	8	4	1	5	2	6	3	7	4	8	5	9	5	1	6	2	7	3	8	4	9	5	10	done looping

In [3]:
long_winded_computation = (1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9
                          + 10 + 11 + 12 + 13,)

### Making code easier to read

In [4]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [5]:
list_of_lists_better = [[1, 2, 3],
                        [4, 5, 6],
                        [7, 8, 9]]

### Modules

In [6]:
import re
my_regex = re.compile("[0-9]+", re.I)

In [7]:
import re as regex     # alias

In [8]:
import matplotlib.pyplot as plt    # alias

In [9]:
from collections import defaultdict, Counter

In [10]:
lookup = defaultdict(int)
my_counter = Counter()

In [11]:
Counter([1, 2, 3, 4, 4, 3, 5])

Counter({1: 1, 2: 1, 3: 2, 4: 2, 5: 1})

### Bad Use of *

In [12]:
match = 10
from re import *  # re also has match 
print(match)

<function match at 0x000002C6C6780790>

In [13]:
import re

match = 10
print(match)

10

### Arithmetic

In [14]:
5/2    # division

2.5

In [15]:
5//2   # integer division

2

In [16]:
5%2    # remainder division

1

### Functions

In [17]:
def double(x):
    """this is where you put an optional docstring
    that explains what the function does.
    for example, this function multiplies its input by 2
    """
    return x*2

In [18]:
help(double)

Help on function double in module __main__:

double(x)
    this is where you put an optional docstring
    that explains what the function does.
    for example, this function multiplies its input by 2

In [19]:
another_double = lambda x: x**2

variable = 3
print(another_double(variable))

9

In [20]:
def my_print(message="my default message"):
    print(message)

In [21]:
my_print("hello")
my_print()

hello
my default message

In [22]:
def subtract(a=0, b=0):
    return a-b

In [23]:
print(subtract(10,5))
print(subtract(0,5))
print(subtract(5))
print(subtract(b=5))

5
-5
5
-5

### Strings

In [24]:
single_quote_string = 'data science'
double_quotez_string = "data science"

In [25]:
not_tab_string = r"\t"
not_tab_string

'\\t'

In [26]:
len(not_tab_string)

2

### Exceptions

In [27]:
print(0/0)

ZeroDivisionError: division by zero

In [ ]:
try:
    print(0/0)
except ZeroDivisionError:
    print(f"can not divide by zero, {ZeroDivisionError}")
    
finally:
    print("in each cases run")

### Lists

In [ ]:
integer_list = [1, 2, 3, 4, 5]
heterogeneous_list = ["string", 0.1, True]
list_of_lists = [integer_list, heterogeneous_list, []]

In [ ]:
list_length = len(integer_list)
list_sum = sum(integer_list)
print(f"length of integer_list is: {list_length}, sum of\
list is: {list_sum}")

In [ ]:
x = list(range(8))
x

In [ ]:
zero = x[0]
one = x[1]
five = x[5]
last = x[-1]

In [ ]:
x[0] = -1  # now x[0] is -1, lists are mutable

In [ ]:
first_two = x[0:2]
last_three = x[-3:]
last_three

In [ ]:
even_index = x[0::2]

In [ ]:
even_index

In [ ]:
odd_index = x[1::2]

In [ ]:
odd_index

In [ ]:
-1 in [-1, 2, 3]

In [ ]:
-1 in [1, 3, 5]

In [ ]:
x = [1, 2, 3]

In [ ]:
copy_x = x[:]

In [ ]:
reference_x = x

In [ ]:
reference_x[0] = 30

In [ ]:
x[0]

In [ ]:
copy_x

In [ ]:
copy_x[0] = 20

In [ ]:
copy_x

In [ ]:
x

In [ ]:
p = [9, 8, 7, 6]

In [ ]:
p.extend([4, 5, 6, 7])

In [ ]:
p

In [ ]:
k = [4, 5, 6, 2]
l = k + [3, 9]

In [ ]:
l

In [ ]:
k

In [ ]:
# list unpacking
x, y = [45, 54]
print(f"x is: {x}, y is: {y}")

In [ ]:
_, u = [34, 14]
u
_

### Tuples

In [ ]:
my_list = [1, 2]
my_tuple = (1, 2)
my_tuple = 1, 2
my_list[1] = 3

In [ ]:
my_tuple[0] = 2

In [ ]:
print(my_tuple[0])

In [ ]:
try:
    my_tuple[0] = 1
except TypeError:
    print("can not modify a tuple")

In [ ]:
# Tuples are a convenient way to return multiple values from functions

In [ ]:
def sum_and_product(x: float, y:float) -> float:
    return x+y, x*y

In [ ]:
(s, p) = sum_and_product(9,8)
print(f"sum is: {s}, and product is: {p}")

In [ ]:
type(sum_and_product(10,4))

In [ ]:
# swap variables
x, y = 4, 10
x, y = y, x

In [ ]:
print(f"now x is: {x}, y is: {y}")

### Dictionary

In [ ]:
empty_dict = {}
type(empty_dict)

In [ ]:
grades = {"Joel": 88, "Tim": 95}

In [ ]:
grades["Joel"]

In [ ]:
try:
    print(grades[0])
except KeyError:
    print("There is no such key in the dictionary")

In [ ]:
list(grades.keys())

In [ ]:
list(grades.values())

In [ ]:
grades.pop("Joel")

In [ ]:
grades

In [ ]:
if "zahed" in grades:
    print(grades["zahed"])
else:
    print("zahed doesn't exist in grades")

In [ ]:
# default values
print(grades.get("Joel", "doesn't exist"))

In [ ]:
# default values
print(grades.get("Joel", 0))

In [ ]:
print(grades.get("Tim", 0))

In [ ]:
print(grades.get("zahed"))

In [ ]:
if grades.get("zahed")==None:
    print("No key")

In [ ]:
# list of tuples
grades.items()

In [ ]:
grades.setdefault("zahed", 200)

In [ ]:
grades.get("zahed")

In [ ]:
# list of keys
grades_keys = grades.keys()

# list of values
grades_values = grades.values()

In [ ]:
# dictionary keys must be immutable

In [ ]:
document = "Hello you the this is a test that you counts the number of\
number hello count"

word_counts = {}
for word in document.lower().split(" "):
    if word in word_counts:
        word_counts[word] +=1
    else:
        word_counts[word] = 1

In [ ]:
word_counts

In [ ]:
# defaultdict
from collections import defaultdict

word_counts = defaultdict(int)
for word in document.lower().split(" "):
    word_counts[word] +=1

In [ ]:
word_counts

In [ ]:
dd_list = defaultdict(list)
dd_list[2].append(3)

In [ ]:
dd_list

In [ ]:
dd_list

In [ ]:
dd_dict = defaultdict(dict)
dd_dict["Joel"]["city"] = "Seatle"

In [ ]:
dd_dict

In [ ]:
# Counter
from collections import Counter

c = Counter([0, 1, 2, 0])

In [ ]:
c

In [ ]:
c[0]

In [ ]:
word_counts_with_counter = Counter(document.lower().split(" "))

In [ ]:
word_counts_with_counter

In [ ]:
# most_common method of Counter instance
for word, count in word_counts_with_counter.most_common(15):
    print(word, count)

### Sets

In [ ]:
# set is a collection of distinct elements
s = set()
s.add(1)
s.add(3)
s.add(3)
s.add(2)

In [ ]:
s

In [ ]:
len(s)

In [ ]:
y = 2 in s

In [ ]:
y

In [ ]:
# set is very fast for in operation
item_list = [1, 2, 3, 1, 2, 3]
num_items = len(item_list)
print("number of items are: ", num_items)

item_set = set(item_list)
num_distinct_items = len(item_set)
print("number of distinct items: ", num_distinct_items)
distinct_item_list = list(item_set)

### Control Flow

In [28]:
if 1 > 2:
    message = "if only 1 were greater than two"
elif 1 > 3:
    message = "elif stands for else if"
else:
    message = "when all else fails use else (if you want to)"

In [29]:
x = 4
parity = "even" if x % 2 == 0 else "odd"

In [30]:
parity

'even'

In [31]:
x = 0
while x < 10:
    print(x, " is less than 10")
    x +=1

0  is less than 10
1  is less than 10
2  is less than 10
3  is less than 10
4  is less than 10
5  is less than 10
6  is less than 10
7  is less than 10
8  is less than 10
9  is less than 10

In [35]:
for x in range(10):
    print(x, " is less than 10")

0  is less than 10
1  is less than 10
2  is less than 10
3  is less than 10
4  is less than 10
5  is less than 10
6  is less than 10
7  is less than 10
8  is less than 10
9  is less than 10

In [36]:
for x in range(10):
    if x == 3:
        continue
    if x == 5:
        break
    print("x is: ", x)

x is:  0
x is:  1
x is:  2
x is:  4

### Truthiness

In [37]:
one_is_less_than_two = 1 < 2 # equals True

In [38]:
one_is_less_than_two

True

In [39]:
x = None
print(x==None)
print(x is None)

True
True

In [43]:
y = ""
if not y :
    print("helaeafl")

helaeafl

In [48]:
x = -10
safe_x = x or 0

In [49]:
print(safe_x)

-10

In [50]:
all([True, 1, {3}])

True

In [51]:
all([True, 3, {}])

False

In [52]:
any([True, 1, {}])

True

In [53]:
all([])

True

In [54]:
any([])

False

## The Not-So-Basics

### Sorting

In [62]:
x = [4, 3, 1, 2]
# sort in place
x.sort()

In [59]:
x

[1, 2, 3, 4]

In [63]:
# reverse in place
x.reverse()

In [61]:
x

[4, 3, 2, 1]

In [64]:
y = [4, 2, 1, 3]
# not in place
z = sorted(y, reverse=False)

In [65]:
z

[1, 2, 3, 4]

In [67]:
z = sorted(y, reverse=True)
z

[4, 3, 2, 1]

In [69]:
# sort the list by absolute value from largest to smallest
x = sorted([-4, 1, -2, 3], key=abs, reverse=True)
x

[-4, 3, -2, 1]

### List Comprehensions

In [71]:
even_numbers = [x for x in range(10) if x % 2 == 0]
even_numbers

[0, 2, 4, 6, 8]

In [75]:
squares = [x*x for x in range(5)]
squares

[0, 1, 4, 9, 16]

In [77]:
even_squares = [x*x for x in even_numbers]
even_squares

[0, 4, 16, 36, 64]

In [79]:
square_dict = {x:x*x for x in range(5)}
square_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [81]:
square_set = {x*x for x in [1, -1]}
square_set

{1}

In [85]:
zeros = [0 for _ in range(10)]
zeros

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [88]:
pairs = [(x, y)
        for x in range(2)
        for y in range(2)]

In [89]:
pairs

[(0, 0), (0, 1), (1, 0), (1, 1)]

### Generators and Iterators

In [90]:
def lazy_range(n):
    """ a lazy version of range"""
    i = 0
    while i < n:
        yield i
        i += 1

In [92]:
for i in lazy_range(20):
    print(i, end="\t")

0	1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19

In [93]:
def natural_numbers():
    """returns 1, 2, 3, ..."""
    n = 1
    while True:
        yield n
        n +=1

In [110]:
for i in natural_numbers():
    print(i)
    if i == 10:
        break

1
2
3
4
5
6
7
8
9
10

In [111]:
lazy_evens_below_20  =(i for i in lazy_range(20) if i%2 ==0)

In [112]:
lazy_evens_below_20

In [114]:
for i in lazy_evens_below_20:
    print(i)

0
2
4
6
8
10
12
14
16
18

In [119]:
a = iter([1,2,3,4,5])

In [124]:
next(a)

5

In [125]:
b = {"a":20,
    "b":30,
    "c":40}

### Randomness

In [134]:
import random

In [135]:
four_uniform_randoms = [random.random() for _ in range(4)]

In [136]:
four_uniform_randoms

[0.04677845132957692,
 0.561360288242736,
 0.24333244724539582,
 0.8856918220827348]

In [138]:
random.seed(10)
print(random.random())

0.5714025946899135

In [139]:
random.random()

0.4288890546751146

In [140]:
random.seed(10)
random.random()

0.5714025946899135

In [144]:
up_to_ten = list(range(10))
random.shuffle(up_to_ten)
up_to_ten

[6, 8, 4, 7, 0, 2, 9, 3, 1, 5]

In [158]:
my_best_friend = random.choice(["Alice", "Bob", "Charlie"])

In [159]:
my_best_friend

'Alice'

In [160]:
lottery_numbers = list(range(100))

In [163]:
# without replacement
winning_numbers = random.sample(lottery_numbers, 6)

In [164]:
winning_numbers

[98, 30, 56, 78, 48, 5]

In [165]:
# with replacement
four_with_replacement = [random.choice(list(range(10)))
                        for _ in range(4)]

In [166]:
four_with_replacement

[9, 0, 3, 2]

### Regular Expressions

In [167]:
import re

In [169]:
print(not re.match("a", "cat"))

True

In [170]:
print(re.search("a", "cat"))

<re.Match object; span=(1, 2), match='a'>

In [171]:
"R-D-" == re.sub("[0-9]", "", "R2D2")

False

In [172]:
"R-D-" == re.sub("[0-9]", "-", "R2D2")

True

# Well Done!